
<div class="adminbar">
    <% if (@website && current_user) && (@website.user_id == current_user.id) %>
        <%= link_to "Go to Admin Dashboard", home_path, style: "font-size: 15px; color: white !important;" %>
    <% end %>
</div>
<div class="jumbotron parallax" style="background-image: url(<%=asset_url 'layout1/apartment'%>); background-size: cover; height: 600px; background-position: bottom;">
  <br></br>
    <center>
    <h1 style="font-size: 100px; font-family: 'Parisienne', cursive;"><%= @website.content.spouse_one %> & <%= @website.content.spouse_two %></h1>
    <h2><%= @website.content.date.to_s.split(" ").first %></h2>
  <!--<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
    <p><a href="#invitations" id="invitations_link" class="btn btn-info btn-lg" style="font-size: 12px; margin-top: 5%;">Accept an Invitation</a></p>
  </center>
</div>

<div class="container d-flex justify-content-center text-center" style="margin-top: 8%;">
    <div style="margin-top: 3%;">
        <%= render 'content' %>
    </div>
</div>

<div style="margin-top: 10%">
    <div class="jumbotron parallax" style="background-image: url(<%=asset_url 'layout1/bouqet'%>); background-size: cover; height: 600px; background-position: top;">
        <br></br>
        <center><h1 style="font-size: 100px; font-family: 'Parisienne', cursive; color: white !important; margin-top: 10%;">Events</h1></center>
    </div>
</div>

<div class="container" style="margin-top: 8%;">
    <%= render 'events' %>
</div>

<div style="margin-top: 10%">
    <div class="jumbotron parallax" id="invitations" style="background-image: url(<%=asset_url 'layout1/invitation'%>); background-size: cover; height: 600px; background-position: top;">
        <br></br>
        <center><h1 style="font-size: 100px; font-family: 'Parisienne', cursive; color: white !important; margin-top: 10%;">Invitations</h1></center>
    </div>
</div>

<div class="container d-flex justify-content-center" style="margin-top: 8%;">
    <%= render 'invitations' %>
</div>

<div style="margin-top: 10%">
    <div class="jumbotron parallax" style="background-image: url(<%=asset_url 'layout1/photographer'%>); background-size: cover; height: 600px; background-position: top;">
        <br></br>
        <center><h1 style="font-size: 100px; font-family: 'Parisienne', cursive; color: white !important; margin-top: 10%;">Photos</h1></center>
    </div>
</div>

<div class="container" style="margin-top: 8%;">
    <%= render 'images' %>
</div>
<!-- Button trigger modal -->

<!-- Modal -->

<div class="modal" id="invitationModal" tabindex="-1" role="dialog" aria-labelledby="invitationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="invitationModalContent">
      <div class="modal-header">
        <h5 class="modal-title" id="invitationModalLabel">Invitations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="word-wrap: break-word;">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <p class="text" id="modal_body"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>