
<div style="background:#ddedf9 !important" class="jumbotron">
    <div class="container">
        <h2 class="display-4">Hello, <%= current_user.first_name %>!</h2>
        <p>Just like that, you are on your way to creating a beautiful website for a wedding! This dashboard has been designed
        with simplicity in mind. If there is a feature you can think of that isn't already on here, I urge you to get in contact with
        me at msherman0801@gmail.com.</p>
        <hr>
        <p class="mb-0">You can explore the full features of this application by creating a website below.</p>
        <p class="lead">
            <%= form_for(@website, class: "form-group") do |f| %>
                <%= f.label :key, "Wedding Name", class: "h3" %> <br />
                <%= f.text_field :key, class: "form-control form-control-lg", style: "width: 50%;" %> <br />
                <%= f.submit "Create a Website", class: "btn btn-primary btn-lg", id: "new_website_submit" %>
            <% end %>
        </p>
    </div>
</div>

<div class="col-sm-12 col-md-12 well" id="content">
    <div class="container" id="website_list" >
    <p>* a green bar above the website represents the active website in the dashboard.</p>
    </div>
</div>