<html>

    <head>
        <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'strap', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag 'weddinglayout1', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'website_ajax', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="website show">

        <%= yield %>

    </body>

</html>