<body class="welcome">
    <div>
        <div class="d-flex justify-content-center" style="margin-top: 8%;">
            <div class="row">

                <div class="col-md-12 d-flex justify-content-center">  
                    <%= image_tag("/assets/logo2.png") %>
                </div>

                <div class="col-md-12">
                <center>
                <h3 class="text-danger"><%= @error if @error %></h3>
                    <%= form_for(:user, class: 'form-group') do |f| %>
                        <div style="width: 40%;">
                            <%= f.label :username, style: "font-size: 15px;" %>
                            <%= f.text_field :username, class: 'form-control' %>
                            <br></br>
                            <%= f.label :password, style: "font-size: 15px;" %>
                            <%= f.password_field :password, id: "password", class: 'form-control' %>
                            <br></br>
                            <%= f.submit "Login", class: 'btn btn-info btn-lg' %>
                            <%= link_to "Register", new_user_path, class: 'btn btn-lg' %>
                        </div>
                    <% end %>
                </center>
                </div>

                <div class="col-md-12">
                <center>
                    <%= link_to image_tag("facebook", width: "100px;"), '/auth/facebook' %>
                    <%= link_to "Login with Facebook", '/auth/facebook' %>
                </center>
                </div>

            </div>
        </div>
    </div>
</body>