<div class="col-sm-12 col-md-12 well" id="content">
<div class="row">
    <div class="col-md-6">
            <h2 style="margin-bottom: 1em;">Invitations</h2>
                <%= form_tag(@invitation, class: "form-group", id: "new_invitation", style: "width: 80%;") do %>
                    <%= label_tag :first_name %>
                    <%= text_field_tag :first_name, "", class: "form-control" %>
                    <br />
                    <%= label_tag :last_name %>
                    <%= text_field_tag :last_name, "", class: "form-control" %>
                    <br />
                    <%= submit_tag "Add Invitation", class: "btn btn-primary" %>
                <% end %>
            </div>



            <div class="col-sm-6">
                    <button class="btn btn-sm btn-default" onclick='sortLastName();'>Sort by Last Name</button>
                    <button class="btn btn-sm btn-default" onclick='sortAttending();'>Sort by Attending</button>
                    <br></br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Date Responded</th>
                                <th scope="col">Attending?</th>
                                <th scope="col">Guests</th>
                                <th scope="col">Allergies</th>
                            </tr>
                        </thead>
                        <tbody id="dashboard_invitations_list">
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>