<li><%= @invitation.first_name %></li>
<li><%= @invitation.last_name %></li>
<li><%= @invitation.accepted %></li>
<li><%= @invitation.date_responded %></li>
<li><%= @invitation.guests %></li>
<li><%= @invitation.allergies %></li>