<li><%= @invitation.first_name %></li>
<li><%= @invitation.last_name %></li>
<li><%= @invitation.attending %></li>
<li><%= @invitation.date_responded %></li>
<li><%= @invitation.guests %></li>
<li><%= @invitation.allergies %></li>

<div class="col-sm-12 col-md-12 well" id="content">