<%= form_tag :website, url: images_upload_path do |f| %>
    <%= label_tag :uploads %>
    <%= file_field_tag :uploads, multiple: true %>
    <%= submit_tag "Upload Photo" %>
<% end %>

<% if @images.attached? %>
    <% @images.each do |image| %>
        <%= image_tag(image, width: 200) %>
    <% end %>
<% else %>
    <p>no uploads</p>
<% end %>