<head>
    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'strap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #212121 !important">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand img-responsive" href=<%=home_path%>>
                    <img src="/assets/logo.png" alt="LOGO"">
                </a>
            </div>

            <ul class="nav navbar-right top-nav"> 
            <% if current_website %>
                <li><a href=<%=website_path(current_website)%>><i class="fa fa-fw fa-arrow-up"></i>Launch Website</a></li>  
            <% end %>     
                <li class="dropdown">
                    <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                    </ul>
                    <li><a href=<%=logout_path%>><i class="fa fa-fw fa-user"></i>Logout</a></li>
                </li>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href=<%=home_path%>><i class="fa fa-fw fa-home"></i> Home </a>
                    </li>
                    <% if current_website %>
                        <li>
                            <a href=<%=edit_content_path(current_website.content)%>><i class="fa fa-fw fa-edit"></i> Content </a>
                        </li>
                        <li>
                            <a href=<%=new_invitation_path%>><i class="fa fa-fw fa-envelope"></i> Invitations </a>
                            <!--<ul id="submenu-1">
                                <li class="text-secondary"><a href="#" class="text-secondary"><i class="fa fa-caret-right"></i>All Invitations</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Invite More</a></li>
                            </ul>-->
                        </li>
                        <li>
                            <a href=<%=events_path%>><i class="fa fa-fw fa-calendar"></i> Events </a>
                            <ul id="submenu-1">
                                <li><a style="color: grey !important;" href=<%=new_event_path%>><i class="fa fa-caret-right" style="padding-right: 5px;"></i>New Event</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=<%=images_path%>><i class="fa fa-fw fa-image"></i> Images </a>
                            <!--<ul id="submenu-2">
                                <li><a style="color: grey !important;" href=<%=new_image_path%>><i class="fa fa-caret-right" style="padding-right: 5px;"></i>Upload Images</a></li>
                            </ul>-->
                        </li>
                    <% end %>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row" id="main" >
        
                    <%= yield %>
        
                </div>
            </div>
        </div>
    </div>
</body>
